site/*
*.ucdb
covhtmlreport/*
work/*
transcript
*.ini
*.wlf
.moore
*.vstf
wlft*
*nfs*
src/moore.sv
*.sig
*.dtb
*.dasm
build/*
/tmp*
*.dasm
/Bender.lock
/Bender.local
build/
*.vcd
*.log
*.out
*.jou
*.o
uart
work-ver/*
fpga/work-fpga
stdout/
work-dpi/
tb/riscv-isa-sim/
work-*/*
install/
xrun_results/
hardware/.bender/
hardware/Bender.lock
hardware/compile.tcl
hardware/hello.riscv
hardware/hyperram.slm
hardware/hyperram0.slm
hardware/hyperram1.slm
hardware/mbox_test.riscv
hardware/regression.list
hardware/tb/vip/.gitignore
hardware/tb/vip/get-vips.sh
hardware/tb/vip/hyperflash_model/
hardware/tb/vip/hyperram_model/
hardware/tb/vip/i2c_eeprom/
hardware/tb/vip/i2s_dsp_device/
hardware/tb/vip/i2s_microphone/
hardware/tb/vip/sdio/
hardware/tb/vip/spi_master_padframe.sv
hardware/tb/vip/src_files.yml
hardware/tb/vip/uart_tb_rx.sv
hardware/work/
hardware/working_dir/
software/hello/hello.dump
software/hello/hello.riscv
software/hello/hyperram.slm
software/hello/hyperram0.slm
software/hello/hyperram1.slm