[submodule "fpga/src/apb_uart"]
	path = fpga/src/apb_uart
	url = https://github.com/pulp-platform/apb_uart.git
[submodule "fpga/src/apb_node"]
	path = fpga/src/apb_node
	url = https://github.com/pulp-platform/apb_node.git
[submodule "fpga/src/axi_slice"]
    path = fpga/src/axi_slice
    url = https://github.com/pulp-platform/axi_slice.git
[submodule "fpga/src/ariane-ethernet"]
	path = fpga/src/ariane-ethernet
	url = https://github.com/lowRISC/ariane-ethernet.git
[submodule "fpga/src/apb_timer"]
	path = fpga/src/apb_timer
	url = https://github.com/pulp-platform/apb_timer.git
[submodule "cluster-runtime"]
	path = cluster-runtime
	url = git@github.com:AlSaqr-platform/cluster-runtime.git
[submodule "software/pulp-runtime"]
	path = software/pulp-runtime
	url = https://github.com/AlSaqr-platform/pulp-runtime.git
[submodule "software/litmus/src"]
	path = software/litmus/src
	url = git@github.com:ricted98/CHERI-Litmus.git
