site/*
*.ucdb
covhtmlreport/*
work/*
hardware/.bender
hardware/Bender.lock
hardware/work/*
hardware/working_dir/*
transcript
Bender.local
tcl_stacktrace.txt
*.ini
*.wlf
.moore
*.vstf
hardware/compile.tcl
wlft*
*nfs*
src/moore.sv
*.sig
*.dtb
*.dasm
build/*
/tmp*
*.dasm
/Bender.lock
/Bender.local
build/
*.vcd
*.log
*.out
*.jou
*.o
uart
work-ver/*
fpga/work-fpga
stdout/
work-dpi/
tb/riscv-isa-sim/
work-*/*
install/
xrun_results/
