site/*
*.ucdb
covhtmlreport/*
work/*
transcript
*.ini
*.wlf
.moore
*.vstf
wlft*
*nfs*
src/moore.sv
*.sig
*.dtb
*.dasm
build/*
/tmp*
*.dasm
/Bender.local
build/
*.vcd
*.log
*.out
*.jou
*.o
*.riscv
*.dump
*.slm
*.bin
uart
work-ver/*
fpga/work-fpga
stdout/
work-dpi/
tb/riscv-isa-sim/
work-*/*
install/
xrun_results/
hardware/.bender/
hardware/compile.tcl
hardware/fpga/.Xil/
hardware/fpga/alsaqr/alsaqr.cache/
hardware/fpga/alsaqr/alsaqr.hw/
hardware/fpga/alsaqr/alsaqr.xpr
hardware/fpga/alsaqr/tcl/generated/
hardware/fpga/alsaqr/*.gen
hardware/fpga/alsaqr/tcl/ips/ddr/ddr4_0.cache/
hardware/fpga/alsaqr/tcl/ips/ddr/ddr4_0.hw/
hardware/fpga/alsaqr/tcl/ips/ddr/ddr4_0.ip_user_files/
hardware/fpga/alsaqr/tcl/ips/ddr/ddr4_0.runs/
hardware/fpga/alsaqr/tcl/ips/ddr/ddr4_0.srcs/
hardware/fpga/alsaqr/tcl/ips/ddr/ddr4_0.xpr
hardware/fpga/alsaqr/tcl/ips/ddr/ip/
hardware/fpga/alsaqr/tcl/ips/otp_ot/ip/
hardware/fpga/alsaqr/tcl/ips/otp_ot/xilinx_rom_bank_1024x22.cache/
hardware/fpga/alsaqr/tcl/ips/otp_ot/xilinx_rom_bank_1024x22.hw/
hardware/fpga/alsaqr/tcl/ips/otp_ot/xilinx_rom_bank_1024x22.runs/
hardware/fpga/alsaqr/tcl/ips/otp_ot/xilinx_rom_bank_1024x22.srcs/
hardware/fpga/alsaqr/tcl/ips/otp_ot/xilinx_rom_bank_1024x22.xpr
hardware/fpga/alsaqr/tcl/ips/qspi/ip/
hardware/fpga/alsaqr/tcl/ips/qspi/xilinx_qspi.cache/
hardware/fpga/alsaqr/tcl/ips/qspi/xilinx_qspi.hw/
hardware/fpga/alsaqr/tcl/ips/qspi/xilinx_qspi.ip_user_files/
hardware/fpga/alsaqr/tcl/ips/qspi/xilinx_qspi.runs/
hardware/fpga/alsaqr/tcl/ips/qspi/xilinx_qspi.srcs/
hardware/fpga/alsaqr/tcl/ips/qspi/xilinx_qspi.xpr
hardware/fpga/alsaqr/tcl/ips/rom_ot/ip/
hardware/fpga/alsaqr/tcl/ips/rom_ot/xilinx_rom_bank_8192x40.cache/
hardware/fpga/alsaqr/tcl/ips/rom_ot/xilinx_rom_bank_8192x40.hw/
hardware/fpga/alsaqr/tcl/ips/rom_ot/xilinx_rom_bank_8192x40.runs/
hardware/fpga/alsaqr/tcl/ips/rom_ot/xilinx_rom_bank_8192x40.srcs/
hardware/fpga/alsaqr/tcl/ips/rom_ot/xilinx_rom_bank_8192x40.xpr
hardware/fpga/reports/
hardware/*.riscv
hardware/*.slm
hardware/regression.list
hardware/tb/vips
hardware/bender
hardware/work
software/axi_tlb/cluster_code.h
software/fpu_pulp/cluster_code.h
fpga/src/bootrom/bootrom.bin
fpga/src/bootrom/bootrom.coe
fpga/src/bootrom/bootrom.elf
hardware/gf22
hardware/ip_list
hardware/fll_behav
hardware/opentitan
hardware/Bender.lock
hardware/regressions/regression_reports
hardware/regressions/regression_netlist_reports