# Configuration Parameters for AlSaqr

#Number of cores to halt, here you can specify 1 or 2
set _NUM_CORES 2

# Enable FLL configuration (0: FLL uses default config - 1: FLL uses specified config )
set FLL_CONFIG 1

set LLC_SPM 1

set SINGLE_PHY 1

# This specifies the target, if enabled we are going to use the Olimex of Opentitan
set BOOT_OT 0

set HYP_512 0

# QFN Board
set HYP_64 1

# Clock Gating Cluster
set CG_CLU 0

# Clock Gating All
set CG_ALL 0

## This file has been generated
adapter_khz     1000

# Olimex ARM-USB-OCD-H - CVA6
interface ftdi
ftdi_device_desc "Olimex OpenOCD JTAG ARM-USB-OCD-H"
ftdi_vid_pid 0x15ba 0x002b

ftdi_layout_init 0x0908 0x0b1b
ftdi_layout_signal nSRST -oe 0x0200
ftdi_layout_signal nTRST -data 0x0100
ftdi_layout_signal LED -data 0x0800
#ftdi_serial OLEDD7FB

# Config nTRST interface
reset_config trst_only
reset_config none

# Hold nTRST low for 200ms
jtag_ntrst_delay 200


# links:
# http://openocd.org/doc-release/html/Debug-Adapter-Configuration.html
#
# Bit  MPSSE     FT2232    JTAG    Type   Description
# Bit0 TCK       ADBUS0    TCK     Out    Clock Signal Output
# Bit1 TDI       ADBUS1    TDI     Out    Serial Data Out
# Bit2 TDO       ADBUS2    TDO     In     Serial Data In
# Bit3 TMS       ADBUS3    TMS     Out    Select Signal Out
# Bit4 GPIOL0    ADBUS4    nTRST   In/Out General Purpose I/O
# this corresponds to the following in/out layout, with TMS initially set to 1
#ftdi_layout_init 0x0018 0x001b
# we only have to specify nTRST, the others are assigned correctly by default
#ftdi_layout_signal nTRST -ndata 0x0010


if {  $BOOT_OT == 0 } {
    # Here we halt Culsans

    # Number of cores (set this according to your configuration)
    if { ! [info exists _NUM_CORES] } {
        echo "Error: _NUM_CORES variable not set."
        exit 1
    }

    # Chip name and JTAG setup
    set _CHIPNAME riscv
    jtag newtap $_CHIPNAME cpu -irlen 5

    # Create target names dynamically and configure each core
    for {set i 0} {$i < $_NUM_CORES} {incr i} {
        set _TARGETNAME "${_CHIPNAME}.cpu${i}"
        if {$i == 0} {
            target create $_TARGETNAME riscv -chain-position $_CHIPNAME.cpu -coreid 0 -rtos hwthread
        } else {
            target create $_TARGETNAME riscv -chain-position $_CHIPNAME.cpu -coreid $i
        }
        lappend _SMP_TARGETS $_TARGETNAME
    }

    set CG_OT 1

} else {
    # Here we halt Opentitan

    # Chip name and JTAG setup
    set _CHIPNAME riscv
    jtag newtap $_CHIPNAME cpu -irlen 5

    # Create target names dynamically and configure each core
    for {set i 0} {$i < 1} {incr i} {
        set _TARGETNAME "${_CHIPNAME}.cpu${i}"
        if {$i == 0} {
            target create $_TARGETNAME riscv -chain-position $_CHIPNAME.cpu -coreid 0 -rtos hwthread
        } else {
            target create $_TARGETNAME riscv -chain-position $_CHIPNAME.cpu -coreid $i
        }
        lappend _SMP_TARGETS $_TARGETNAME
    }

    set CG_OT 0

    set LLC_SPM 0

    set SINGLE_PHY 0

}

# Create SMP target configuration
target smp {*}[set _SMP_TARGETS]

# End _NUM_CORES core config

gdb_report_data_abort enable
gdb_report_register_access_error enable

riscv set_reset_timeout_sec 120
riscv set_command_timeout_sec 120

# prefer to use sba for system bus access
riscv set_prefer_sba off

if {  $BOOT_OT == 0 } {
    # Try enabling address translation (only works for newer versions)
    if { [catch {riscv set_enable_virtual on} ] } {
        echo "Warning: This version of OpenOCD does not support address translation. To debug on virtual addresses, please update to the latest version." }
}

init
#reset halt
halt

    ###################################
    # CONFIG FLL - DEFAULT 50MHz      #
    ###################################

    # MAX FREQUENCIES
    # CVA6 800 MHz SRC0
    # HOST 344 MHz SRC1
    # PER  320 MHz SRC2
    # PULP 500 MHz SRC3

    # MFI value for 100 MHz
    set FLL_MFI 0x000017d7

    # MFI value for 10 MHz
    #set FLL_MFI 0x0000003D

    proc fll_set_mhz {reg_addr mhz} {
        set val [expr {(($::FLL_MFI * $mhz + 0) / 100)}]
        mww $reg_addr $val
        puts [format "FLL set to ~%d MHz -> 0x%08X" $mhz $val]
    }

    # Usage:
    # fll_set_mhz $F0CR2 20
    # fll_set_mhz $F0CR2 300

if {  $FLL_CONFIG == 1 } {

    ##################################################################################################
    #                                        FLL MEMORY MAP                                          #
    #  Idx  Reg        Register name              Addr (word)  Offset (bytes)   Access   Reset value #
    #  0    FSR     FLL status register               0x00          0x00           R     0x000F_0000 #
    #  1    DRR     DCO Range register                0x01          0x04           R/W   0x0086_0000 #
    #  2    TTR     Temperature Tracking Register     0x02          0x08           R/W   0x0000_0000 #
    #  3    F0CR1   FLL0 Configuration Register  1    0x03          0x0C           R/W   0x4003_0A71 #
    #  4    F0CR2   FLL0 Configuration Register  2    0x04          0x10           R/W   0x000F_0001 #
    #  5    F1CR1   FLL1 Configuration Register  1    0x05          0x14           R/W   0x4003_0A70 #
    #  6    F1CR2   FLL1 Configuration Register  2    0x06          0x18           R/W   0x000F_0001 #
    #  7    F2CR1   FLL2 Configuration Register  1    0x07          0x1C           R/W   0x4003_0A70 #
    #  8    F2CR2   FLL2 Configuration Register  2    0x08          0x20           R/W   0x000F_0001 #
    #  9    F3CR1   FLL3 Configuration Register  1    0x09          0x24           R/W   0x4003_0A70 #
    #  10   F3CR2   FLL3 Configuration Register  2    0x0A          0x28           R/W   0x000F_0001 #
    #  11   CCR1    Clock Configuration register 1    0x0B          0x2C           R/W   0x0000_0202 #
    #  12   CCR2    Clock Configuration register 2    0x0C          0x30           R/W   0x000F_0011 #   ##################################################################################################

    set FSR   0x1A100000
    set DRR   0x1A100004
    set TTR   0x1A100008
    set F0CR1 0x1A10000C
    set F0CR2 0x1A100010
    set F1CR1 0x1A100014
    set F1CR2 0x1A100018
    set F2CR1 0x1A10001C
    set F2CR2 0x1A100020
    set F3CR1 0x1A100024
    set F3CR2 0x1A100028
    set CCR1  0x1A10002C
    set CCR2  0x1A100030

    echo "Set up FLL registers to 50MHz, DCO locked - Max Value DCO 1FF"
    mww ${DRR}    0x01ff0000

    # Per each FXCR1 we anable the DCO, put in Open loop

    # F0CR1 - DCO Enable / Open Loop / TTM_EN 0 / DITH_EN 0 / LOOP_GAIN 7 / LOCK_TOL FF / ITG_PER 1 / STBL 2
    mww ${F0CR1}  0x2801ff71

    # F1CR1 - DCO Enable / Open Loop / TTM_EN 0 / DITH_EN 0 / LOOP_GAIN 7 / LOCK_TOL FF / ITG_PER 1 / STBL 2
    mww ${F1CR1}  0x2801ff71

    # F2CR1 - DCO Enable / Open Loop / TTM_EN 0 / DITH_EN 0 / LOOP_GAIN 7 / LOCK_TOL FF / ITG_PER 1 / STBL 2
    mww ${F2CR1}  0x2801ff71

    # F3CR1 - DCO Enable / Open Loop / TTM_EN 0 / DITH_EN 0 / LOOP_GAIN 7 / LOCK_TOL FF / ITG_PER 1 / STBL 2
    mww ${F3CR1}  0x2801ff71


    # FXCR2 Reserved 7 bits 0 / DCO Input Code for FLL0 / MFI Multiplication Factor 8F0A

    # MAX FREQUENCIES
    # CVA6 800 MHz SRC0
    # HOST 344 MHz SRC1
    # PER  320 MHz SRC2
    # PULP 500 MHz SRC3

    set TARGET_FREQ 50

    # Set FLL0 (CVA6) MFI
    fll_set_mhz $F0CR2 50

    # Set FLL1 (HOST/OT) MFI
    fll_set_mhz $F1CR2 $TARGET_FREQ

    # Set FLL2 (PER) MFI
    fll_set_mhz $F2CR2 50

    # Set FLL3 (PULP) MFI
    fll_set_mhz $F3CR2 50

    # Each FLL gets its Clock Sel FBKCLK[x] 0x000G4321 CG val is the 5th marked as G - when 8 PULP gated (DCO EN must be OFF!!)
    mww ${CCR2}   0x00004321

    # DCO Enable / Closed Loop / TTM_EN 0 / DITH_EN 0 / LOOP_GAIN 7 / LOCK_TOL FF / ITG_PER 1 / STBL 2
    mww ${F0CR1}  0x2801ff73
    mww ${F1CR1}  0x2801ff73
    mww ${F2CR1}  0x2801ff73

    # Disable DCO for PULP CLuster - bits 0 and 1 will be swapped by the core to disable the Clock GATING
    # Clock Gating Cluster
    if {  $CG_CLU == 1 } {
        echo "Clock gating Cluster"
        mww ${F3CR1}  0x2801ff70
    } else {
        echo "Disable Clock gating Cluster"
        mww ${F3CR1}  0x2801ff73
    }

    ####################################################
    #          Fout[i]= 2^14 *(Mreg/Dreg)              #
    #                                                  #
    #             xx   |  xx  | xx | xx                #
    #           Cluster|Periph|Host|CVA6               #
    #                                                  #
    # NB: Hyper has additional divider by 2 internally #
    ####################################################

    # CCR1 -> Divider REG
    #mww ${CCR1}  0x0A0A0A0A

    #No divider -> same freq as FXCR2 MFI
    mww ${CCR1}  0x01010101
}


##########################################
#          CONFIG LLC AS SPM             #
##########################################

if {  $LLC_SPM == 1 } {

    echo "Config LLC as SPM"
    mww 0x10401000 0xffffffff
    mww 0x10401004 0xffffffff
    mww 0x10401010 0x1
}

################################################
#          CONFIG HYPER CONTROLLER             #
################################################

if {  $HYP_512 == 1 } {
    mww 0x1A101000 0x7
    mww 0x1A101018 0x1B
}

if {  $HYP_64 == 1 } {
        mww 0x1A101000 0x6
        mww 0x1A101018 0x19
}


if {  $SINGLE_PHY == 1 } {
    echo "Config Hyper Controller to use PHY0 only"
    mww 0x1A10101C 0x0
    mww 0x1A101020 0x0
    mww 0x1A101024 0x0
}

if {  $HYP_512 == 1 } {
    # CS0 range
    mww 0x1A101028 0x80000000
    mww 0x1A10102C 0x84000000
    # CS1 range
    mww 0x1A101030 0x84000000
    mww 0x1A101034 0x88000000
    # CS2 range
    mww 0x1A101038 0x88000000
    mww 0x1A10103C 0x8C000000
    # CS3 range
    mww 0x1A101040 0x8C000000
    mww 0x1A101044 0x90000000

    echo "Ready for Remote Connections"
}

if {  $HYP_64 == 1 } {
        # CS0 range
        mww 0x1A101028 0x80000000
        mww 0x1A10102C 0x80800000
        # CS1 range
        mww 0x1A101030 0x80800000
        mww 0x1A101034 0x81000000
        # CS2 range
        mww 0x1A101038 0x81000000
        mww 0x1A10103C 0x81800000
        # CS3 range
        mww 0x1A101040 0x81800000
        mww 0x1A101044 0x82000000

        echo "Ready for Remote Connections"
}


##########################################
#          CONFIG CG OPENTITAN
#
#     set OT_CLK_SEL_ADDR 0x1A106024
#     set OT_CLK_DIV_ADDR 0x1A106028
#     set OT_CLK_GAT_ADDR 0x1A10602C
#
##########################################

set OT_CLK_SEL_ADDR 0x1A106024
set OT_CLK_DIV_ADDR 0x1A106028
set OT_CLK_GAT_ADDR 0x1A10602C

# Here we chose the FLL clk source forr OT (Same as Host 1)
set OT_CLK_SRC 1

if {  $CG_OT == 1 } {
    echo "Clock gating Opentitan"
    mww ${OT_CLK_GAT_ADDR} 0x00000001
} else {
    echo "Disable Clock gating Opentitan"
    mww ${OT_CLK_GAT_ADDR} 0x00000000

    echo "Set FLL Source Opentitan"
    mww ${OT_CLK_SEL_ADDR} ${OT_CLK_SRC}

    echo "Set Opentitan Clock divider"
    mww ${OT_CLK_DIV_ADDR} 0x00000001

}

# Clock Gating All FLL Output
if {  $CG_ALL== 1 } {
    echo "Clock gating All except SoC"
    mww ${F3CR1}  0x2801ff70
    mww ${F2CR1}  0x2801ff70
    mww ${F0CR1}  0x2801ff70
    #mww ${F1CR1}  0x2801ff70
}